body{
    background-color: #000000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro',sans-serif;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    min-height: 100vh;
    
}


 /*Header*/
 
 header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 62px;
    grid-column: 2 / span 2;
    
 }

.nav-list{
    display: flex;
    gap: 28px;
    list-style: none;
    margin:0;
    padding: 0;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}


/*Header*/


main{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2 / span 8;
    
}
.main-text-container{
    width: 100%;
    max-width: 416px;
    min-height: 244px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 10px;
}
.main-header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 84px;
    line-height: 102px;
    letter-spacing: -2px;
    margin: 0;
}
.main-text{ 
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    margin: 0;
}
.main-image{
    margin: 0 10px;
}


@media screen and  (max-width:1102px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    main{
        flex-wrap: wrap;
        justify-content: center;
    }
    header{
        max-width: 617px;
    }
    .main-text-container{
        max-width: 574px;
        min-height: 172px;
        margin-bottom: 45px;
    }
    .main-header{
        font-size: 72px;
        line-height: 83px;
        letter-spacing: -1.6px;
        text-align: center;
        margin-bottom: 23px;
    }
    .main-text{
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        color: #FFFFFF;
    }

}